.section-title{
    font-size: 14px;
    font-family:sans-serif;
    color:#444;

    h3{
        background-color: #fff;
        color:#111;
        font-size: 26px;
        padding-right: 30px;
        text-transform:capitalize;
        line-height: 32px;

        span{
            font-weight: 600; 
        }
    }
}