#admin-navbar{
    background-color: #f5f4fe;
    .top-nav{
        position: fixed;
        background-color: #f5f4fe;
        top:0;
        left: 0;
        width: 100%;
        z-index: 200;
    } 

    .sidebar{
        background-color: #f5f4fe;
        position: fixed;
        top: 82px;
        z-index: 200;
        width: 350px;
        height: 100vh;
        overflow: auto;
        .sidebar-link{
            .nav-items{
                margin-bottom: 10px;
                .link{
                    padding: 6px 0 6px 15px;
                    font-size: 22px;
                    color: #111;
                    text-transform: capitalize;
                    font-weight: 500px;
                    letter-spacing: 0.2px;

                    span{
                        transition: all 0.3s;
                    }
                    i{
                        font-size: 20px;
                        margin-right: 15px;
                        transition:  all 0.3s;
                    }
                }

            }
            .nav-items .router-link-active, 
            .nav-items .link:hover{
                i{
                    color:#fff;
                }
                background-color: rgb(8 145 178);
                border-radius: 20px;
                color: #fff;
                position: relative;
                &:after{
                    position: absolute;
                    content: '';
                    z-index: -1;
                    top:0;
                    left:90%;
                    width: 32px;
                    height: 100%;
                    background-color: rgb(8 51 68);
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
        }
    }
}
