.form{
    .form-group{
        width: 100%;
        margin-bottom:10px;
        display: flex;
        flex-direction: column;
        label{
            font-weight: 600;
            color: #444;
            font-size: 17px;
        }
        .form-input{
            margin-top: 10px;
            border:1px solid #a59e9e;
            padding: 5px 20px;
            &:focus{
                outline: 1px solid rgb(189, 231, 189);
            }
        }
        .error{
            border: 1px solid rgb(194, 25, 25);  
        }
        .error-meesage{
            color: rgb(194, 25, 25);
            font-weight: 500;
            margin-top: 5px;
        }
    }

    .submit-btn{
        margin-top: 20px;
        button{
            background-color: #ff6e40;
            text-align: center;
            line-height: 1.6;
            vertical-align: middle;
            padding:5px 20px;
            color: #fff;
            font-weight: 400;
            font-size: 18px;
            border-radius: 5px;
        }
    }
    
}